.card-body .nav-pills .nav-item .nav-link {
  .nav-icon {
    width: 30px;
    display: inline-flex;
    padding: 4px 5px;
    vertical-align: middle;
  }
  .nav-text {
    vertical-align: middle;
  }
}