
/**
Nav - sidebar
 */
.sidebar {
  padding: 0;
}

.main-sidebar {
  overflow-x: hidden;

  .sidebar-profile {
    padding: 20px 20px 12px;
    background-color: #fff;
    color: #4d627b;
    opacity: 1;
    margin-bottom: 7px;
    max-height: 350px;
    overflow: hidden;
    border-right: 1px solid #f1f1f1;

    .pad-btm {
      padding-bottom: 15px;

      .img-md {
        float: none;
      }
    }

    .box-block {
      display: block;     
      text-decoration: none;
      color: #7a878e;
      outline: 0;

      .user-name {
        color: #4d627b;
        margin: 0;
        font-size: 1em;
        font-weight: 700;
      }

      .user-email {
        font-size: .9em;
        color: #4d627b;
        opacity: 0.75;
      }
    }
  }
}
.sidebar-collapse .sidebar-profile {
  display: none;
}
[class*=sidebar-dark] .brand-link {
  border-bottom: 0;
}

.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-image {
  margin-right: 0.8rem;
}

.brand-link { 
  background: #1e88e5;
  .brand-image {
    float: left;
    line-height: 0.8;
    max-height: 34px;
    width: auto;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-top: -4px;
  }
}

.sidebar-dark-primary {
  background-color: #323437;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-pills.nav-sidebar .nav-link:not(.active):not(.dropdown-toggle):hover {
  color: white;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.nav-sidebar .nav-header {
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 600;
  padding-bottom: .8rem;
}

li.nav-item.has-treeview > a:after,
.sidebar-collapse .nav-sidebar li.nav-item.has-treeview > a:after {
  content: "\F104";
  font-family: 'Font Awesome\ 5 Free';
  font-size: 15px;
  font-weight: 600;
  border: none;
  position: absolute;
  top: 11px;
  right: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

li.nav-item.has-treeview.menu-open > a:after {
  transform: rotate(-90deg);
}

.sidebar-collapse .nav-sidebar li.nav-item.has-treeview.menu-open > a:after {
  transform: rotate(-90deg);
  opacity: 0;
}

.sidebar-collapse .nav-sidebar li.nav-item.has-treeview > a:after {
  opacity: 0;
}

.sidebar-collapse .main-sidebar:hover {
  li.nav-item.has-treeview.menu-open > a:after,
  li.nav-item.has-treeview > a:after {
    opacity: 1 !important;
  }
  .nav-text {
    opacity: 1;
    top: 9px !important;
  }
  .nav-treeview > li > a, li > a {
    .nav-text {
      opacity: 1;
    }
  }

  .label.label-danger.badge {
    opacity: 1;
  }
}

.nav-sidebar .nav-item > .nav-link {
  text-align: left;
  padding: 4px 15px;
  margin: 5px 0 0;
  display: block;
  position: relative;
}

.nav-sidebar .nav-treeview > .nav-item > .nav-link > .nav-icon, .nav-sidebar > .nav-item .nav-icon {
  font-size: 1rem;
  padding: 4px 7px;
  margin-right: 7px;
  border-radius: 0;
  width: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  text-align: center;
}

.sidebar-collapse .nav-sidebar > li > a, .sidebar-collapse .nav-sidebar .nav-treeview > li > a {
  padding: 4px 23px !important;

  .nav-text {
    opacity: 0;
  }

  .label.label-danger.badge {
    opacity: 0;
  }
}

.nav-sidebar .nav-link .nav-text {
  position: absolute;
  top: 9px;
}

@media (min-width: 992px) {
  .sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-sidebar > .nav-item > .nav-link > span {
    display: inline-flex !important;
  }
}

.nav-sidebar:hover {
  overflow: hidden;
}

.sidebar .nav-link p,
.main-sidebar .brand-text,
.sidebar .user-panel .info {
  transition: none;
}

.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link {
  color: #C2C7D0;

  &:first-child {
    margin-top: 0px;
  } 
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-treeview {
  background: #47494b;
}

.nav-sidebar .nav-header:not(:first-of-type) {
  padding: 1rem 1rem 0.8rem 1rem;
}